*{
    margin: 0;
    padding: 0;
}
form{
    width: 80%;
    margin: auto;
    padding: 15px;
}
.taskList{
    /* display: flex;
    flex-direction: row; */
    width: 80%;
    margin: auto;
}
.card{
    margin: 5px;
    /* width: 50%; */
    /* min-width: 18rem; */
    border: 12px solid black;
    border-radius: 10%;
}
h1{
    text-align: center;
}